@import '../../consts.scss';
.s-orders {
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__title {
    text-align: center;
    margin-bottom: 25px;
  }
  &__btn-create {
    border: 1px solid $orange-color;
    border-radius: 8px;
    padding: 5px 10px;
    font-size: 18px;
    margin-top: 20px;
  }
}

.l-orders {
  display: flex;
  flex-direction: column;
  width: 600px;
  &__item {
    padding: 20px 25px;
    border: 1px rgb(232, 233, 234) solid;
    border-radius: 20px;
    cursor: pointer;
    & + & {
      margin-top: 30px;
    }
    &_title {
      margin-bottom: 15px;
      display: block;
      width: 100%;
      border-bottom: 1px solid $orange-color;
    }
    &_text {
      display: block;
      & + & {
        margin-top: 10px;
      }
    }
  }
}

.f-order {
  width: 500px;
  display: flex;
  flex-direction: column;
  &__title {
    text-align: center;
    margin-bottom: 15px;
  }
  &__field {
    width: 500px;
    font-size: 16px;
    padding: 5px;
    border: 1px solid $orange-color;
    margin-top: 10px;
    margin-bottom: 10px;
    &-error {
      display: block;
      width: 500px;
      color: red;
      font-size: 11px;
      margin-bottom: 10px;
      &.number {
        width: 100px;
      }
    }
  }
}
